.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-image-1 {
  width: 220px;
  height: 150px;
  margin: 57px auto 0;
}

.u-section-1 .u-group-1 {
  width: 747px;
  min-height: 422px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 40px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 43px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 40px 7px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0;
  padding: 11px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-group-1 {
    min-height: 437px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.27778rem;
    width: auto;
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 21px;
  }
}